@{
    ViewData["Title"] = "Create";
}
@model Order
<div class="form-container">
    <h2>Crear Pedido</h2>
     <form asp-action="Create">
        <div class="form-group">
            <label asp-for="Date">Fecha</label>
            <input asp-for="Date" class="form-control" type="date"/>
        </div>
     </form>
</div> 